EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=your_email@gmail.com
EMAIL_HOST_PASSWORD=your_gmail_app_password
EMAIL_USE_TLS=true
DEFAULT_FROM_EMAIL=your_email@gmail.com

# Optional: if testing on phone over Wi-Fi
# LOCAL_NETWORK_IP=192.168.1.10
